body{
display: flex; justify-content: center; align-items: center; height: 100vh;
background-color:#3B4664;
}
p{
font-size: 20px;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
h1{
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.head{
  display: flex; justify-content: space-between;
}

.title{
  margin-bottom: 0px;
 }
.container{
display: block;
width: 350px;
}
.clacultaion{
  color: aliceblue;
  font-weight: bold;
  width: 335px;
  height: 15px;
 border-radius: 6px;
 background-color: #181F32;
  text-align: right ;
  padding-right: 15px;
  padding-top:30px;
  padding-bottom: 40px;
  margin-top: 7px;
}
.the-buttons{
display: flex;
flex-direction: column;
background-color: #252D44;
height: 300px;
border-radius: 6px;
justify-content: space-around;
}
.line1,.line2,.line3,.line4,.line5{
display: flex;  
justify-content: space-between;
}
button{
width: 60px;
height: 35px;
color:#424D75 ;
background-color: #EAE3DB;
font-size: 25px;
font-weight: bold;
border: none;
margin-left: 15px;
margin-right: 15px;
margin-top: 10px; 
margin-bottom: 10px;
border-radius: 6px; 
cursor: pointer;
box-shadow: 0px 4px 0px #B3A497; }
 button:active{ 
  box-shadow: none; transform: translateY(4px);
}
.delete{
   background-color:#647299 ;
  color: #fff;
  box-shadow: 0px 4px 0px #424D75;
  font-size: 20px;
}
.reset {
  background-color:#647299 ;
  color: #fff;
  box-shadow: 0px 4px 0px #424D75;
  font-size: 19px;
  width: 120px;

}
.equale { background-color:#D13F30 ; 
color: #fff;
 box-shadow: 0px 4px 0px #93261A;
width :120px }